<?xml version="1.0" encoding="utf-8"?>
<Item xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Keywords>
    <Keyword>
      <Name>druidic</Name>
    </Keyword>
    <Keyword>
      <Name>focus</Name>
    </Keyword>
    <Keyword>
      <Name>mistletoe</Name>
    </Keyword>
  </Keywords>
  <StackSize>1</StackSize>
  <Name>Spring of Mistletoe</Name>
  <Description>A druidic focus might be a sprig of mistletoe or holly, a wand or scepter made of yew or another special wood, a staff drawn whole out of a living tree, or a totem object incorporating feathers, fur, bones, and teeth from sacred animals. A druid can use such an object as a spellcasting focus.</Description>
  <Price>
    <cp>0</cp>
    <sp>0</sp>
    <ep>0</ep>
    <gp>1</gp>
    <pp>0</pp>
  </Price>
  <Source>Systems Reference Document v5.1</Source>
  <Weight>0</Weight>
</Item>